@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.port-img-container{
  width: 100%;
  height: 100vh;
  position: relative;
}

.port-hero-img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.port-img-container::after{
  content: "";
  height: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
}

.port-hero-root{
  height: 100%;
  width: 100%;
}

.port-hero-root .port-hero-text{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

.port-hero-text p {
  text-align: left;
  font-size: 5vh;
  padding: 0.6rem 0, 1.5rem;
}

#name{
  padding-left: 0px;
}

#name {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.8em;
  background-image: linear-gradient(rgb(30, 45, 255), rgb(30, 45, 255));
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size .7s, background-position .5s ease-in-out;
}

#name:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}

@media screen and (min-width: 1000px) {
  .port-hero-text2{
    display: flex;
  }
  #name{
    padding-left: 10px;
  }
}

.port-text-name{
  color: #ffa244
}

